fastapi==0.115.6
gTTS==2.5.4
jsonpatch==1.33
jsonpointer==3.0.0
neo4j==6.2.0
pgvector==0.3.6
psycopg2-binary==2.9.10
pydantic==2.10.6
pydantic_core==2.27.2
pypdf==6.5.0
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
sentence-transformers==3.1.1
torch==2.4.1
transformers==4.45.2
uvicorn==0.32.1
json_repair==0.61.1
pdf2image==1.17.0
pytesseract==0.3.13